<h1>PAGINA DE CREACION</h1>
<hr>
<form action="/producto/crear" method="POST">
  <input name="name" placeholder="Nombre" required/>
  <br />
  <input name="price" type="number" placeholder="Precio" required/>
  <br />
  <input name="image" placeholder="URL Imagen" required/>
  <br />
  <button type="submit">Crear</button>
</form>