<form action="/products/edit/{{id}}" method="POST">
  Nombre
  <input name="name" value="{{name}}"/>
  <br />
  Precio
  <input name="price" value="{{price}}"/>
  <input name="image" value="{{image}}"/>
  <button type="submit">Enviar</button>
</form>